#1 Grove sensors.json
[
    {
        "id": "d2c13b69.7d8748",
        "type": "tab",
        "label": "Groveセンサー",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8e20c963.fbea58",
        "type": "grove digital sensor",
        "z": "d2c13b69.7d8748",
        "name": "超音波距離センサー",
        "board": "7d1bf33b.01d55c",
        "sensor": "ultrasonic",
        "repeat": "1",
        "pin": "2",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "229ae574.8068aa",
                "49069c6f.6ba384",
                "b19bdea3.06718"
            ]
        ]
    },
    {
        "id": "ad37b185.d9e1c",
        "type": "debug",
        "z": "d2c13b69.7d8748",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 310,
        "y": 180,
        "wires": []
    },
    {
        "id": "d36b47e1.24f1f8",
        "type": "grove digital sensor",
        "z": "d2c13b69.7d8748",
        "name": "温湿度センサー",
        "board": "7d1bf33b.01d55c",
        "sensor": "dht11",
        "repeat": "2",
        "pin": "5",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "ad37b185.d9e1c",
                "8a999422.5d6b78",
                "d448642f.d9d2a8",
                "f87ec8db.ad5d48"
            ]
        ]
    },
    {
        "id": "49069c6f.6ba384",
        "type": "ui_chart",
        "z": "d2c13b69.7d8748",
        "name": "",
        "group": "fdbe1d64.82549",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "距離センサー",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 320,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "8a999422.5d6b78",
        "type": "change",
        "z": "d2c13b69.7d8748",
        "name": "温度を抽出",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 240,
        "wires": [
            [
                "41e4083f.29cac8",
                "78b42f8e.e76a3"
            ]
        ]
    },
    {
        "id": "d448642f.d9d2a8",
        "type": "change",
        "z": "d2c13b69.7d8748",
        "name": "湿度を抽出",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 280,
        "wires": [
            [
                "e3ff0690.11cc08"
            ]
        ]
    },
    {
        "id": "41e4083f.29cac8",
        "type": "debug",
        "z": "d2c13b69.7d8748",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "f87ec8db.ad5d48",
        "type": "gp2iac",
        "z": "d2c13b69.7d8748",
        "name": "gp2iac (変換)",
        "objectkey": "Handson2019User0",
        "sensortype": "dht11",
        "dataname1": "温度",
        "unit1": "℃",
        "dataname2": "湿度",
        "unit2": "%",
        "dataname3": "ヒートインデックス",
        "unit3": "HI",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "5c7b79cc.675038",
                "408854a3.e8d74c"
            ]
        ]
    },
    {
        "id": "5c7b79cc.675038",
        "type": "debug",
        "z": "d2c13b69.7d8748",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 490,
        "y": 340,
        "wires": []
    },
    {
        "id": "e3ff0690.11cc08",
        "type": "ui_chart",
        "z": "d2c13b69.7d8748",
        "name": "",
        "group": "fdbe1d64.82549",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "湿度センサーのグラフ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 540,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "78b42f8e.e76a3",
        "type": "ui_chart",
        "z": "d2c13b69.7d8748",
        "name": "",
        "group": "fdbe1d64.82549",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "温度センサーのグラフ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 540,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "229ae574.8068aa",
        "type": "debug",
        "z": "d2c13b69.7d8748",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "c25d4d31.24f85",
        "type": "change",
        "z": "d2c13b69.7d8748",
        "name": "オン",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 60,
        "wires": [
            [
                "3bec9941.d2d536"
            ]
        ]
    },
    {
        "id": "b19bdea3.06718",
        "type": "switch",
        "z": "d2c13b69.7d8748",
        "name": "近づいているか？",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "30",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "c25d4d31.24f85"
            ],
            [
                "2af06ab3.429166"
            ]
        ]
    },
    {
        "id": "2af06ab3.429166",
        "type": "change",
        "z": "d2c13b69.7d8748",
        "name": "オフ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 100,
        "wires": [
            [
                "3bec9941.d2d536"
            ]
        ]
    },
    {
        "id": "3bec9941.d2d536",
        "type": "grove digital output",
        "z": "d2c13b69.7d8748",
        "name": "LED",
        "board": "de3110bd.4b4c",
        "pin": "3",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "408854a3.e8d74c",
        "type": "ia-cloud-cnct",
        "z": "d2c13b69.7d8748",
        "name": "ia-cloud-cnct",
        "url": "https://d9u5112h1j.execute-api.us-east-1.amazonaws.com/handson/api/iaCloud/rev10",
        "FDSKey": "Handson2019User0",
        "comment": "",
        "cnctRetryInterval": 60,
        "tappingInterval": 24,
        "x": 510,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7d1bf33b.01d55c",
        "type": "board-config",
        "z": "",
        "board": "GrovePi"
    },
    {
        "id": "fdbe1d64.82549",
        "type": "ui_group",
        "z": "",
        "name": "IoTセンサー",
        "tab": "e1d4c384.d5ea9",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "de3110bd.4b4c",
        "type": "board-config",
        "z": "",
        "board": "GrovePi"
    },
    {
        "id": "e1d4c384.d5ea9",
        "type": "ui_tab",
        "z": "",
        "name": "ダッシュボード",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
