#1 Grove sensors.json
[
    {
        "id": "c4854017.ff3aa",
        "type": "tab",
        "label": "Groveセンサー",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2a597a9a.f65736",
        "type": "GPi-range-sensor",
        "z": "c4854017.ff3aa",
        "name": "",
        "grovepi": "c3bec17c.df6a9",
        "din": "2",
        "cycle": "1",
        "storeInterval": "1",
        "storeAsync": true,
        "objectKey": "Handson2020User0",
        "objectDescription": "",
        "dataName": "距離",
        "unit": "cm",
        "lLimit": "",
        "hLimit": "",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "763fdf98.9fc38"
            ]
        ]
    },
    {
        "id": "906df990.40ea78",
        "type": "debug",
        "z": "c4854017.ff3aa",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 40,
        "wires": []
    },
    {
        "id": "763fdf98.9fc38",
        "type": "unpack",
        "z": "c4854017.ff3aa",
        "name": "",
        "dataName": "",
        "bool10": false,
        "rules": [
            {
                "objectKey": "",
                "dataName": "距離",
                "dataLabel": ""
            }
        ],
        "outputs": 1,
        "configReady": "ready",
        "x": 330,
        "y": 40,
        "wires": [
            [
                "906df990.40ea78",
                "24e90b86.51d434",
                "ed87f845.0374e8"
            ]
        ]
    },
    {
        "id": "24e90b86.51d434",
        "type": "switch",
        "z": "c4854017.ff3aa",
        "name": "近づいているか？",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "30",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 120,
        "wires": [
            [
                "3b585cd3.e1eaf4"
            ],
            [
                "15ab8c15.1ffd94"
            ]
        ]
    },
    {
        "id": "3b585cd3.e1eaf4",
        "type": "change",
        "z": "c4854017.ff3aa",
        "name": "オン",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 100,
        "wires": [
            [
                "da546de9.75003"
            ]
        ]
    },
    {
        "id": "15ab8c15.1ffd94",
        "type": "change",
        "z": "c4854017.ff3aa",
        "name": "オフ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "da546de9.75003"
            ]
        ]
    },
    {
        "id": "da546de9.75003",
        "type": "GPi-LED",
        "z": "c4854017.ff3aa",
        "name": "",
        "grovepi": "c3bec17c.df6a9",
        "din": "3",
        "x": 690,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ed87f845.0374e8",
        "type": "ui_gauge",
        "z": "c4854017.ff3aa",
        "name": "",
        "group": "16aae024.0c1ae",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "距離",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 310,
        "y": 180,
        "wires": []
    },
    {
        "id": "7e247a94.71c554",
        "type": "GPi-DHT-sensor",
        "z": "c4854017.ff3aa",
        "name": "",
        "grovepi": "c3bec17c.df6a9",
        "din": "5",
        "cycle": "3",
        "storeInterval": "3",
        "storeAsync": true,
        "objectKey": "Handson2020User0",
        "objectDescription": "",
        "tempDataName": "温度",
        "tempUnit": "°C",
        "humDataName": "湿度",
        "humUnit": "%",
        "hIndexDataName": "熱指数",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "894f563c.9978f8",
                "5ab745ee.cefc1c",
                "d14e05f7.928888",
                "ad85b4a8.b853a8"
            ]
        ]
    },
    {
        "id": "894f563c.9978f8",
        "type": "debug",
        "z": "c4854017.ff3aa",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 240,
        "wires": []
    },
    {
        "id": "5ab745ee.cefc1c",
        "type": "unpack",
        "z": "c4854017.ff3aa",
        "name": "",
        "dataName": "",
        "bool10": false,
        "rules": [
            {
                "objectKey": "",
                "dataName": "温度",
                "dataLabel": ""
            }
        ],
        "outputs": 1,
        "configReady": "ready",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "4e2ca13c.5b896",
                "64d35ae1.2c9574"
            ]
        ]
    },
    {
        "id": "4e2ca13c.5b896",
        "type": "debug",
        "z": "c4854017.ff3aa",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "64d35ae1.2c9574",
        "type": "ui_chart",
        "z": "c4854017.ff3aa",
        "name": "",
        "group": "16aae024.0c1ae",
        "order": 1,
        "width": "21",
        "height": "4",
        "label": "温度",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 530,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d14e05f7.928888",
        "type": "unpack",
        "z": "c4854017.ff3aa",
        "name": "",
        "dataName": "",
        "bool10": false,
        "rules": [
            {
                "objectKey": "",
                "dataName": "湿度",
                "dataLabel": ""
            }
        ],
        "outputs": 1,
        "configReady": "ready",
        "x": 350,
        "y": 360,
        "wires": [
            [
                "28f9213b.9f507e"
            ]
        ]
    },
    {
        "id": "28f9213b.9f507e",
        "type": "ui_chart",
        "z": "c4854017.ff3aa",
        "name": "",
        "group": "16aae024.0c1ae",
        "order": 1,
        "width": "21",
        "height": "4",
        "label": "湿度",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 530,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ad85b4a8.b853a8",
        "type": "ia-cloud-cnct2",
        "z": "c4854017.ff3aa",
        "ccsConnectionConfig": "1a95159f.e8277a",
        "name": "",
        "FDSKey": "Handson2020User0",
        "comment": "",
        "cnctRetryInterval": 60,
        "tappingInterval": 24,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "891d2819.3ae108"
            ]
        ]
    },
    {
        "id": "891d2819.3ae108",
        "type": "debug",
        "z": "c4854017.ff3aa",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 420,
        "wires": []
    },
    {
        "id": "c3bec17c.df6a9",
        "type": "grovepi",
        "z": "",
        "name": "Grove-Piボード"
    },
    {
        "id": "16aae024.0c1ae",
        "type": "ui_group",
        "z": "",
        "name": "IoTセンサー",
        "tab": "7ddc04e4.4a127c",
        "order": 1,
        "disp": true,
        "width": "21",
        "collapse": false
    },
    {
        "id": "1a95159f.e8277a",
        "type": "ia-cloud-ccs-connection-config",
        "z": "",
        "url": "https://d9u5112h1j.execute-api.us-east-1.amazonaws.com/handson/api/iaCloud/rev10",
        "name": ""
    },
    {
        "id": "7ddc04e4.4a127c",
        "type": "ui_tab",
        "z": "",
        "name": "ダッシュボード",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
