setup/master/flows_Handson2019User0.json
[{"id":"6b8dd63e.1ac808","type":"tab","label":"GrovePiテスト","disabled":false,"info":""},{"id":"392ea365.64e6fc","type":"tab","label":"ノギス計測テスト","disabled":false,"info":""},{"id":"ab6769f3.dd0478","type":"tab","label":"PLCノードテスト","disabled":false,"info":""},{"id":"ca54c7a.bd84d38","type":"tab","label":"温調計テスト","disabled":false,"info":""},{"id":"a10cf630.3c9c08","type":"tab","label":"EnOceanセンサー","disabled":false,"info":""},{"id":"59f759d6.b56ce8","type":"tab","label":"シュナイダーHMIテスト","disabled":false,"info":""},{"id":"705837c4.b31078","type":"tab","label":"機能ノードテスト","disabled":false,"info":""},{"id":"ada889d4.5c3358","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"2dd999ee.9f7b16","type":"grovepi","z":"","name":"Grove-Piボード"},{"id":"bb3aecdc.2f5b5","type":"ui_tab","z":"","name":"ホーム","icon":"dashboard","disabled":false,"hidden":false},{"id":"d4ef7129.b2e19","type":"ui_group","z":"","name":"GrovePiグラフ","tab":"bb3aecdc.2f5b5","order":2,"disp":true,"width":"12","collapse":false},{"id":"912ecce.857ad3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b81486cc.1ad718","type":"Mitsubishi-com","z":"","name":"","refreshCycle":"5","maxDataNum":"64","noBlank":false,"comType":"TCP","TCPPort":"1025","IPAdd":"192.168.1.30","serialPort":"","baud":"115200","parity":"even","accessRoute":"","requiredSet":"ready"},{"id":"79acbb91.db65b4","type":"Modbus-com","z":"","name":"モドバスTCP","refreshCycle":"5","maxDataNum":"64","noBlank":false,"comType":"TCP","TCPPort":"502","IPAdd":"192.168.1.20","unitID":"255","serialPort":"","serialAdd":"1","baud":"115200","parity":"even","requiredSet":"ready"},{"id":"d8369033.4564c","type":"ui_group","z":"","name":"機能ノードグラフ","tab":"bb3aecdc.2f5b5","order":1,"disp":true,"width":"12","collapse":false},{"id":"69e2bb91.879ed4","type":"ui_group","z":"","name":"PLCノード","tab":"bb3aecdc.2f5b5","order":3,"disp":true,"width":"12","collapse":false},{"id":"cb22f65f.3ca668","type":"ia-cloud-ccs-connection-config","z":"","url":"https://d9u5112h1j.execute-api.us-east-1.amazonaws.com/handson/api/iaCloud/rev10","name":""},{"id":"1fbfa0db.b4ae1f","type":"ui_group","z":"","name":"温調計","tab":"bb3aecdc.2f5b5","order":4,"disp":true,"width":"12","collapse":true},{"id":"2fedbf10.955c5","type":"Itec_CT_Sensor","z":"","name":"Itec CT Sensor","sensor_id":"040171B8","dataName0":"電流1","unit0":"A","configObject":"[{\"dataValue\":\"\",\"unit\":\"A\",\"dataName\":\"電流1\"}]"},{"id":"78b09239.11448c","type":"HMI-Schneider-com","z":"","name":"SchneiderHMI","IPAdd":"192.168.1.100","TCPPort":"8082","requiredSet":"ready"},{"id":"1cb6377d.73c389","type":"Optex_Rocker_SW","z":"","name":"Optex Rocker Switch","sensor_id":"002E5CB6","dataName0":"エネルギースイッチ","dataName1":"スイッチ1","dataName2":"スイッチ2","dataName3":"スイッチ3","dataName4":"スイッチ4","configObject":"[{\"dataValue\":\"\",\"unit\":null,\"dataName\":\"エネルギースイッチ\"},{\"dataValue\":\"\",\"unit\":null,\"dataName\":\"スイッチ1\"},{\"dataValue\":\"\",\"unit\":null,\"dataName\":\"スイッチ2\"},{\"dataValue\":\"\",\"unit\":null,\"dataName\":\"スイッチ3\"},{\"dataValue\":\"\",\"unit\":null,\"dataName\":\"スイッチ4\"}]"},{"id":"3284af80.f8c7f","type":"Modbus-com","z":"","name":"モドバスRTU","refreshCycle":"10","maxDataNum":"64","noBlank":false,"comType":"RTU","TCPPort":"502","IPAdd":"","unitID":"255","serialPort":"/dev/ttyUSB1","serialAdd":"1","baud":"19200","parity":"even","requiredSet":"ready"},{"id":"53f4e285.d0417c","type":"EnOcean-com","z":"","name":"EnOcean通信USB0","serialPort":"/dev/ttyUSB0"},{"id":"65853da9.3d18b4","type":"GPi-range-sensor","z":"6b8dd63e.1ac808","name":"","grovepi":"2dd999ee.9f7b16","din":"2","cycle":1,"storeInterval":"120","storeAsync":true,"objectKey":"rangeKey","objectDescription":"距離センサ","dataName":"距離","unit":"cm","lLimit":"10","hLimit":"50","x":130,"y":120,"wires":[["aade12af.e51af","70fe7981.0a9708"]]},{"id":"989cad2a.5dbdc","type":"GPi-DHT-sensor","z":"6b8dd63e.1ac808","name":"","grovepi":"2dd999ee.9f7b16","din":"4","cycle":"10","storeInterval":"150","storeAsync":true,"objectKey":"DHTKey","objectDescription":"温湿度度センサ","tempDataName":"温度","tempUnit":"°C","humDataName":"湿度","humUnit":"%","hIndexDataName":"熱指数","x":140,"y":200,"wires":[["aade12af.e51af","70fe7981.0a9708","5fb3e133.b1526","f1406ec7.5ce11"]]},{"id":"aade12af.e51af","type":"ia-cloud-cnct2","z":"6b8dd63e.1ac808","ccsConnectionConfig":"cb22f65f.3ca668","name":"","FDSKey":"Handson2019User0","comment":"デモトランク","cnctRetryInterval":60,"tappingInterval":24,"x":470,"y":120,"wires":[["b6c57893.b03f68"]]},{"id":"325f5601.0981ba","type":"GPi-button-sensor","z":"6b8dd63e.1ac808","name":"","grovepi":"2dd999ee.9f7b16","din":"3","storeInterval":"5","storeAsync":true,"objectKey":"buttonKey","objectDescription":"GrovePiボタン","dataName":"ボタン","mode":"bool","x":120,"y":300,"wires":[["f97016c3.e8cc28","70fe7981.0a9708","203bfaf5.039076"]]},{"id":"f97016c3.e8cc28","type":"unpack","z":"6b8dd63e.1ac808","name":"","dataName":"","bool10":false,"rules":[{"objectKey":"","dataName":"ボタン","dataLabel":""}],"outputs":1,"configReady":"ready","x":410,"y":340,"wires":[["606939b.4d674c8","6277caf6.dd2d64"]]},{"id":"606939b.4d674c8","type":"GPi-LED","z":"6b8dd63e.1ac808","name":"","grovepi":"2dd999ee.9f7b16","din":"7","x":650,"y":340,"wires":[[]]},{"id":"b6c57893.b03f68","type":"debug","z":"6b8dd63e.1ac808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"70fe7981.0a9708","type":"debug","z":"6b8dd63e.1ac808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":60,"wires":[]},{"id":"5fb3e133.b1526","type":"unpack","z":"6b8dd63e.1ac808","name":"","dataName":"","bool10":false,"rules":[{"objectKey":"","dataName":"温度","dataLabel":""},{"objectKey":"","dataName":"湿度","dataLabel":""}],"outputs":2,"configReady":"ready","x":410,"y":260,"wires":[["7333a51.f63765c","1e5b2e8e.995821"],["7333a51.f63765c","1e5b2e8e.995821"]]},{"id":"7333a51.f63765c","type":"debug","z":"6b8dd63e.1ac808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":180,"wires":[]},{"id":"1e5b2e8e.995821","type":"ui_chart","z":"6b8dd63e.1ac808","name":"","group":"d4ef7129.b2e19","order":1,"width":"12","height":"6","label":"温湿度データ","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":260,"wires":[[]]},{"id":"6277caf6.dd2d64","type":"ui_lamps","z":"6b8dd63e.1ac808","group":"d4ef7129.b2e19","order":2,"width":0,"height":0,"name":"","label":"lamps","direction":"Vertical","display_settings":"[{\"phase\":\"Square\",\"color\":\"Red\"}]","x":660,"y":440,"wires":[]},{"id":"ad217824.d28ed8","type":"inject","z":"392ea365.64e6fc","name":"クラウド送出","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["2300d3a7.bb783c"]]},{"id":"f9853713.a0ffb8","type":"debug","z":"392ea365.64e6fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":220,"wires":[]},{"id":"d7f2cf06.d561e","type":"ia-cloud-cnct2","z":"392ea365.64e6fc","ccsConnectionConfig":"cb22f65f.3ca668","name":"","FDSKey":"Handson2019User0_cliperFlow","comment":"ノギスフローから","cnctRetryInterval":60,"tappingInterval":24,"x":470,"y":140,"wires":[[]]},{"id":"2300d3a7.bb783c","type":"caliper-Mitsutoyo","z":"392ea365.64e6fc","name":"","objectName":"","objectKey":"caliperKey","objectDescription":"ノギス寸法計測","contentType":"iaCloudData","dataParams":[{"dataName":"製品幅"},{"dataName":"製品長さ"},{"dataName":"製品高さ"}],"x":260,"y":140,"wires":[["d7f2cf06.d561e","f9853713.a0ffb8"]]},{"id":"642364c2.19b6fc","type":"ia-cloud-cnct2","z":"ab6769f3.dd0478","ccsConnectionConfig":"cb22f65f.3ca668","name":"","FDSKey":"Handson2019User0-PLC","comment":"PLCデータ","cnctRetryInterval":60,"tappingInterval":24,"x":450,"y":120,"wires":[["4f471211.79c6dc"]]},{"id":"4f471211.79c6dc","type":"debug","z":"ab6769f3.dd0478","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"5e3af6eb.5ef038","type":"PLC-Modbus","z":"ab6769f3.dd0478","name":"","comNode":"79acbb91.db65b4","contentType":"ModbusPLC","storeInterval":"300","storeAsync":false,"objectKey":"ModbusPLCKey","objectDescription":"モドバスPLCデータ","configReady":"ready","dataItems":[{"itemType":"bit","dataName":"bitデータ","bit":{"deviceType":"IS","address":200,"number":16,"logic":"pos"}},{"itemType":"number","dataName":"1時間リセット","number":{"deviceType":"HR","address":106,"type":"2w-l","encode":"unsigned","offset":0,"gain":1,"unit":""}}],"x":130,"y":260,"wires":[["642364c2.19b6fc"]]},{"id":"8566f528.b0cbf8","type":"smoothing","z":"705837c4.b31078","name":"","params":[{"objectKey":"","dataName":"温度","range":50,"initTime":0},{"objectKey":"","dataName":"湿度","range":50,"initTime":0}],"configReady":"ready","x":260,"y":60,"wires":[["63742f70.ed0e4"]]},{"id":"63742f70.ed0e4","type":"unpack","z":"705837c4.b31078","name":"","dataName":"","bool10":false,"rules":[{"objectKey":"","dataName":"温度","dataLabel":"平均化温度"},{"objectKey":"","dataName":"湿度","dataLabel":"平均化湿度"}],"outputs":2,"configReady":"ready","x":450,"y":60,"wires":[["951c8e69.21abe"],["39a311e3.ed555e"]]},{"id":"ab44269b.01db78","type":"unpack","z":"705837c4.b31078","name":"","dataName":"","bool10":false,"rules":[{"objectKey":"","dataName":"温度","dataLabel":""},{"objectKey":"","dataName":"湿度","dataLabel":""}],"outputs":2,"configReady":"ready","x":390,"y":140,"wires":[["951c8e69.21abe"],["39a311e3.ed555e"]]},{"id":"39a311e3.ed555e","type":"ui_chart","z":"705837c4.b31078","name":"","group":"d8369033.4564c","order":4,"width":"12","height":"4","label":"湿度データ移動平均","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":140,"wires":[[]]},{"id":"f1406ec7.5ce11","type":"link out","z":"6b8dd63e.1ac808","name":"機能ノードフローへ","links":["a47cf5c3.b57e68"],"x":375,"y":200,"wires":[]},{"id":"a47cf5c3.b57e68","type":"link in","z":"705837c4.b31078","name":"","links":["f1406ec7.5ce11"],"x":75,"y":100,"wires":[["8566f528.b0cbf8","ab44269b.01db78"]]},{"id":"10a72a7b.0ca886","type":"function","z":"705837c4.b31078","name":"テスト波形","func":"// もしまだカウンタが存在していなければ0に初期化\nvar count = context.get('count')||0;\ncount += 1;\nif (count > 360) count = 0\n// 値を書き戻して保存\ncontext.set('count',count);\nvalue = Math.sin(count * (Math.PI / 180));\nif(count % 75 === 0) {\n    value += 0.2;\n}\n\nmsg.request = \"store\";\nmsg.dataObject = {\n    objectKey: \"dummy\",\n    objectContent: {\n        contentType: \"iaCloudData\",\n        contentData:[\n            {\n                dataName: \"sine\",\n                dataValue: Number(value.toFixed(2))\n            }\n            ]\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":110,"y":220,"wires":[["eecd6c4e.e68aa","e87cacd8.00677","81a03f4c.048ee","8f1f0f37.b849c","427be2b1.ae61ac"]]},{"id":"eecd6c4e.e68aa","type":"unpack","z":"705837c4.b31078","name":"","dataName":"","bool10":false,"rules":[{"objectKey":"","dataName":"sine","dataLabel":"元波形"}],"outputs":1,"configReady":"ready","x":410,"y":220,"wires":[["d24321cb.4b6de","2c606b70.0216e4"]]},{"id":"d24321cb.4b6de","type":"ui_chart","z":"705837c4.b31078","name":"","group":"d8369033.4564c","order":1,"width":"12","height":"4","label":"サイン波元データ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":220,"wires":[[]]},{"id":"e87cacd8.00677","type":"de-noise","z":"705837c4.b31078","name":"","params":[{"objectKey":"","dataName":"sine","disp":0.15,"interval":0}],"configReady":"ready","x":210,"y":320,"wires":[["484bf7b.635e608"]]},{"id":"484bf7b.635e608","type":"unpack","z":"705837c4.b31078","name":"","dataName":"","bool10":false,"rules":[{"objectKey":"","dataName":"sine","dataLabel":"ノイズ除去データ"}],"outputs":1,"configReady":"ready","x":470,"y":320,"wires":[["20e78599.1ed90a"]]},{"id":"20e78599.1ed90a","type":"ui_chart","z":"705837c4.b31078","name":"","group":"d8369033.4564c","order":2,"width":"12","height":"4","label":"ノイズ除去データ","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":320,"wires":[[]]},{"id":"81a03f4c.048ee","type":"evaluation","z":"705837c4.b31078","name":"","actionType":"bool","rules":[{"objectKey":"","dataName":"sine","mode":"range","equal":"0","notequal":"0","rangeLo":"-0.1","rangeHi":"0.1","notrangeLo":"0","notrangeHi":"0"}],"configReady":"ready","x":210,"y":380,"wires":[["5c5a875.3e84f78"]]},{"id":"951c8e69.21abe","type":"ui_chart","z":"705837c4.b31078","name":"","group":"d8369033.4564c","order":3,"width":"12","height":"4","label":"温度データ移動平均","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":60,"wires":[[]]},{"id":"8f1f0f37.b849c","type":"evaluation","z":"705837c4.b31078","name":"","actionType":"bool","rules":[{"objectKey":"","dataName":"sine","mode":"notrange","equal":"0","notequal":"0","rangeLo":"0","rangeHi":"0","notrangeLo":"-0.98","notrangeHi":"0.5"}],"configReady":"ready","x":210,"y":440,"wires":[["8870e48a.a06e68","28724e04.86c142"]]},{"id":"427be2b1.ae61ac","type":"evaluation","z":"705837c4.b31078","name":"","actionType":"bool","rules":[{"objectKey":"","dataName":"sine","mode":"range","equal":"0","notequal":"0","rangeLo":"0","rangeHi":"","notrangeLo":"0","notrangeHi":"0"}],"configReady":"ready","x":210,"y":500,"wires":[["1284ec7f.53b4c4"]]},{"id":"8870e48a.a06e68","type":"change-detect","z":"705837c4.b31078","name":"","params":[{"objectKey":"","dataName":"","ondelay":30,"offdelay":20}],"configReady":"ready","x":370,"y":560,"wires":[["1387f9b4.05ad56"]]},{"id":"1387f9b4.05ad56","type":"unpack","z":"705837c4.b31078","name":"","dataName":"","bool10":true,"rules":[{"objectKey":"","dataName":"sine","dataLabel":"ON/OFF遅延"}],"outputs":1,"configReady":"ready","x":550,"y":560,"wires":[["55404005.178b6"]]},{"id":"2c606b70.0216e4","type":"ui_chart","z":"705837c4.b31078","name":"","group":"d8369033.4564c","order":5,"width":"12","height":"4","label":"評価","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":380,"wires":[[]]},{"id":"5c5a875.3e84f78","type":"unpack","z":"705837c4.b31078","name":"","dataName":"","bool10":true,"rules":[{"objectKey":"","dataName":"sine","dataLabel":"範囲内"}],"outputs":1,"configReady":"ready","x":470,"y":380,"wires":[["2c606b70.0216e4"]]},{"id":"28724e04.86c142","type":"unpack","z":"705837c4.b31078","name":"","dataName":"","bool10":true,"rules":[{"objectKey":"","dataName":"sine","dataLabel":"範囲外"}],"outputs":1,"configReady":"ready","x":470,"y":440,"wires":[["2c606b70.0216e4","55404005.178b6"]]},{"id":"1284ec7f.53b4c4","type":"unpack","z":"705837c4.b31078","name":"","dataName":"","bool10":true,"rules":[{"objectKey":"","dataName":"sine","dataLabel":"プラス"}],"outputs":1,"configReady":"ready","x":470,"y":500,"wires":[["2c606b70.0216e4"]]},{"id":"55404005.178b6","type":"ui_chart","z":"705837c4.b31078","name":"","group":"d8369033.4564c","order":6,"width":"12","height":"4","label":"遅延","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":560,"wires":[[]]},{"id":"fe8d8f8.564d27","type":"PLC-Modbus","z":"ab6769f3.dd0478","name":"","comNode":"79acbb91.db65b4","contentType":"ModbusPLC","storeInterval":"10","storeAsync":false,"objectKey":"dummy","objectDescription":"","configReady":"ready","dataItems":[{"itemType":"number","dataName":"1分リセット","number":{"deviceType":"HR","address":102,"type":"2w-l","encode":"unsigned","offset":0,"gain":1,"unit":""}},{"itemType":"number","dataName":"10分リセット","number":{"deviceType":"HR","address":104,"type":"2w-l","encode":"unsigned","offset":0,"gain":1,"unit":""}},{"itemType":"number","dataName":"1時間リセット","number":{"deviceType":"HR","address":106,"type":"2w-l","encode":"unsigned","offset":0,"gain":1,"unit":""}},{"itemType":"number","dataName":"1日リセット","number":{"deviceType":"HR","address":108,"type":"2w-l","encode":"unsigned","offset":0,"gain":1,"unit":""}}],"x":130,"y":440,"wires":[["fb063943.621388"]]},{"id":"fb063943.621388","type":"unpack","z":"ab6769f3.dd0478","name":"","dataName":"","bool10":false,"rules":[{"objectKey":"","dataName":"1分リセット","dataLabel":""},{"objectKey":"","dataName":"10分リセット","dataLabel":""},{"objectKey":"","dataName":"1時間リセット","dataLabel":""},{"objectKey":"","dataName":"1日リセット","dataLabel":""}],"outputs":4,"configReady":"ready","x":410,"y":440,"wires":[["dadd745c.8d01c8"],["dadd745c.8d01c8"],["a1706101.b5092"],["a1706101.b5092"]]},{"id":"dadd745c.8d01c8","type":"ui_chart","z":"ab6769f3.dd0478","name":"","group":"69e2bb91.879ed4","order":1,"width":"12","height":"4","label":"PLC1秒カウント/時","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":420,"wires":[[]]},{"id":"a1706101.b5092","type":"ui_chart","z":"ab6769f3.dd0478","name":"","group":"69e2bb91.879ed4","order":2,"width":"12","height":"4","label":"PLC1秒カウント/日","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":460,"wires":[[]]},{"id":"64092dff.405864","type":"debug","z":"ca54c7a.bd84d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":280,"wires":[]},{"id":"1f5e4da0.40da32","type":"unpack","z":"ca54c7a.bd84d38","name":"","dataName":"","bool10":false,"rules":[{"objectKey":"","dataName":"現在値","dataLabel":""},{"objectKey":"","dataName":"設定値","dataLabel":""}],"outputs":2,"configReady":"ready","x":390,"y":180,"wires":[["2940eb85.eb0044"],["2940eb85.eb0044"]]},{"id":"2940eb85.eb0044","type":"ui_chart","z":"ca54c7a.bd84d38","name":"","group":"1fbfa0db.b4ae1f","order":0,"width":"12","height":"6","label":"温調計","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"15","ymax":"40","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":180,"wires":[[]]},{"id":"203bfaf5.039076","type":"debug","z":"6b8dd63e.1ac808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":440,"wires":[]},{"id":"feb072bb.28627","type":"EnOcean-obj","z":"a10cf630.3c9c08","name":"","confsel":"propertySet","configfile":"","configdata":"","object_key":"ITECKey","object_desc":"ITEC電流センサー","enoceancom":"53f4e285.d0417c","sensor_kind":"itec","watty_temp_sensor":"","core_temp_sensor":"","itec_ac_sensor":"2fedbf10.955c5","optex_rocker_sw":"","optex_occupancy_sensor":"","objectConfig":"","configSel1":"","configSel2":"","selectSensor":"2fedbf10.955c5","x":130,"y":60,"wires":[["91565c05.29e7f","6a34d96f.a5a598","a2471c7c.fcc0c"]]},{"id":"91565c05.29e7f","type":"debug","z":"a10cf630.3c9c08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":200,"wires":[]},{"id":"94b9e61c.3a27a8","type":"debug","z":"59f759d6.b56ce8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":180,"wires":[]},{"id":"65b8e3f6.fe053c","type":"tmp-ctrl-omron","z":"ca54c7a.bd84d38","name":"","ModbusCom":"3284af80.f8c7f","contentType":"iaCloudData","storeInterval":"60","storeAsync":false,"objectKey":"OmronKey","objectDescription":"","configReady":"ready","dataItems":[{"item":"pv","dataName":"現在値","unit":"度"},{"item":"sv","dataName":"設定値","unit":"°C"}],"x":160,"y":180,"wires":[["1f5e4da0.40da32","64092dff.405864","6f13cdff.bee124"]]},{"id":"4cea473a.02ea48","type":"debug","z":"59f759d6.b56ce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":320,"wires":[]},{"id":"7f9926d2.aab4d8","type":"HMI-Schneider-AE","z":"59f759d6.b56ce8","name":"","HmiSchneiderCom":"78b09239.11448c","storeInterval":"300","storeAsync":true,"objectKey":"Keyyy","objectDescription":"","contentType":"Alarm&Event","aeItems":[{"varName":"AlarmBool","code":"","description":""}],"configReady":"ready","x":200,"y":320,"wires":[["4cea473a.02ea48"]]},{"id":"d36094b8.26a4d8","type":"HMI-Schneider","z":"59f759d6.b56ce8","name":"","HmiSchneiderCom":"78b09239.11448c","storeInterval":"300","storeAsync":false,"objectKey":"Key","objectDescription":"","contentType":"iaCloudData","dataItems":[{"dataName":"インと","unit":"度","varName":"IntVar"},{"dataName":"りある","unit":"","varName":"RealVar"}],"configReady":"ready","x":190,"y":80,"wires":[["94b9e61c.3a27a8","11d5fa24.3a68e6"]]},{"id":"94e45f1e.ed4f6","type":"HMI-Schneider","z":"59f759d6.b56ce8","name":"","HmiSchneiderCom":"78b09239.11448c","storeInterval":"300","storeAsync":false,"objectKey":"Keyy","objectDescription":"","contentType":"iaCloudData","dataItems":[{"dataName":"リアル","unit":"","varName":"RealVar"}],"configReady":"ready","x":200,"y":180,"wires":[["94b9e61c.3a27a8","11d5fa24.3a68e6"]]},{"id":"f8177db5.90fdf","type":"EnOcean-obj","z":"a10cf630.3c9c08","name":"","confsel":"propertySet","configfile":"","configdata":"","object_key":"Handson2020User0.EnOcean.RockerSwitch","object_desc":"","enoceancom":"53f4e285.d0417c","sensor_kind":"optex_rocker","watty_temp_sensor":"","core_temp_sensor":"","itec_ac_sensor":"","optex_rocker_sw":"1cb6377d.73c389","optex_occupancy_sensor":"","objectConfig":"","configSel1":"","configSel2":"","selectSensor":"1cb6377d.73c389","x":130,"y":200,"wires":[["91565c05.29e7f","6a34d96f.a5a598"]]},{"id":"6a34d96f.a5a598","type":"ia-cloud-cnct2","z":"a10cf630.3c9c08","ccsConnectionConfig":"cb22f65f.3ca668","name":"","FDSKey":"hashisanFDS","comment":"","cnctRetryInterval":60,"tappingInterval":24,"x":430,"y":60,"wires":[[]]},{"id":"9fc619f4.baec98","type":"ui_gauge","z":"a10cf630.3c9c08","name":"","group":"d4ef7129.b2e19","order":3,"width":"8","height":"4","gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":140,"wires":[]},{"id":"a2471c7c.fcc0c","type":"unpack","z":"a10cf630.3c9c08","name":"","dataName":"","bool10":false,"rules":[{"objectKey":"","dataName":"電流1","dataLabel":""}],"outputs":1,"configReady":"ready","x":430,"y":140,"wires":[["9fc619f4.baec98"]]},{"id":"6f13cdff.bee124","type":"ia-cloud-cnct2","z":"ca54c7a.bd84d38","ccsConnectionConfig":"cb22f65f.3ca668","name":"","FDSKey":"hashisanFDS","comment":"","cnctRetryInterval":60,"tappingInterval":24,"x":390,"y":100,"wires":[[]]},{"id":"bcc17d8c.1fa0d","type":"inject","z":"705837c4.b31078","name":"1秒","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":160,"wires":[["10a72a7b.0ca886"]]},{"id":"11d5fa24.3a68e6","type":"ia-cloud-cnct2","z":"59f759d6.b56ce8","ccsConnectionConfig":"cb22f65f.3ca668","name":"","FDSKey":"hashisanHMISchneider","comment":"","cnctRetryInterval":60,"tappingInterval":24,"x":520,"y":80,"wires":[[]]},{"id":"4ee9fc95.784de4","type":"pi-cpu","z":"6b8dd63e.1ac808","name":"","storeInterval":10,"storeAsync":false,"objectKey":"Key","objectDescription":"","CPUtempDataName":"CPU温度","CPUtempUnit":"°C","CPUinUseDataName":"CPU使用率","CPUinUseUnit":"%","memDataName":"空きメモリ","memUnit":"MB","x":220,"y":600,"wires":[["322f3b79.f021c4"]]},{"id":"322f3b79.f021c4","type":"debug","z":"6b8dd63e.1ac808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":620,"wires":[]},{"id":"b3662713.6dc9f8","type":"PLC-Modbus-AE","z":"ab6769f3.dd0478","name":"","comNode":"79acbb91.db65b4","contentType":"Alarm&Event","storeInterval":"0","storeAsync":true,"objectKey":"ModbusPLCA&E","objectDescription":"モドバスPLCのアラーム＆イベント","configReady":"ready","dataItems":[{"itemType":"AnE","commonName":"Alarm&Event","AnE":{"deviceType":"Coil","address":102,"logic":"pos","AnECode":"%M102","AnEDesc":"1時間毎アラーム"}}],"x":150,"y":340,"wires":[["642364c2.19b6fc"]]},{"id":"766db7af.a7ea78","type":"PLC-Mitsubishi","z":"ab6769f3.dd0478","name":"","comNode":"b81486cc.1ad718","contentType":"MitsubishiPLC","storeInterval":"300","storeAsync":false,"objectKey":"MitubishiPLCKey","objectDescription":"三菱PLCデータ","configReady":"ready","dataItems":[{"itemType":"bit","dataName":"ビット列","bit":{"deviceType":"M","address":200,"number":8,"logic":"pos"}},{"itemType":"number","dataName":"1時間リセット","number":{"deviceType":"D","address":106,"type":"2w-l","encode":"unsigned","offset":0,"gain":1,"unit":""}},{"itemType":"string","dataName":"文字列","string":{"deviceType":"D","address":200,"number":8,"encode":"sJIS"}}],"x":140,"y":60,"wires":[["642364c2.19b6fc"]]},{"id":"211bb9c8.ff7c16","type":"PLC-Mitsubishi-AE","z":"ab6769f3.dd0478","name":"","comNode":"b81486cc.1ad718","contentType":"Alarm&Event","storeInterval":"0","storeAsync":true,"objectKey":"MitsubishiPLCA&EKey","objectDescription":"三菱PLCアラーム＆イベント","configReady":"ready","dataItems":[{"itemType":"AnE","commonName":"Alarm&Event","AnE":{"deviceType":"M","address":318,"logic":"pos","AnECode":"318","AnEDesc":"アラーム中"}}],"x":160,"y":160,"wires":[["642364c2.19b6fc"]]},{"id":"fbd6c135.e8802","type":"PLC-Mitsubishi","z":"ada889d4.5c3358","name":"","comNode":"b81486cc.1ad718","contentType":"MitsubishiPLC","storeInterval":"60","storeAsync":false,"objectKey":"組み立て装置１","objectDescription":"","configReady":"ready","dataItems":[{"itemType":"bit","dataName":"装置稼働データ","bit":{"deviceType":"M","address":230,"number":1,"logic":"pos"}},{"itemType":"number","dataName":"生産数量","number":{"deviceType":"D","address":108,"type":"1w","encode":"unsigned","offset":0,"gain":1,"unit":""}}],"x":210,"y":180,"wires":[["f0ef7ebe.c8b1b"]]},{"id":"f0ef7ebe.c8b1b","type":"ia-cloud-cnct2","z":"ada889d4.5c3358","ccsConnectionConfig":"cb22f65f.3ca668","name":"","FDSKey":"ゲートウエイ１","comment":"","cnctRetryInterval":60,"tappingInterval":24,"x":500,"y":180,"wires":[[]]}]